<!-- <div class="text-layout">
  <h1> {{ name | titlecase }} </h1>
</div>

<button pButton (click)="showName()"
        label="Change name"
        class="p-button-outlined"
        icon="pi pi-pencil"
        iconPos="right">
</button>


<p-card [header]="name | titlecase"
        subheader="This is a subheader">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsum voluptates mollitia iste cupiditate quibusdam, ut dolores vitae consequuntur nesciunt eligendi, doloribus beatae debitis voluptatem sed incidunt maiores eius a.
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>
